# Core
streamlit
numpy
pandas
matplotlib

# Geospatial libraries
geopandas
shapely
pyproj
fiona
gdal
pyogrio
rtree

# OpenStreetMap / network data
osmnx

# DXF file generation
ezdxf

# Web + file handling
requests
zipfile36
